@use '../../../../styles/components/dialog.scss';


.join-dialog {
    min-width: 400px;
    max-width: 800px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.error-container {
    text-align: center;
    padding: 20px;
}

.error-message {
    color: var(--mat-sys-error);
}