// _mixins.scss
@mixin full-size {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
  }
  
@mixin profile-pic {
    @include full-size;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

@mixin background-gradient{
  --spacing: 3rem;
  --bd-section-vertical: 1rem;
  --bd-section-horizontal: 1rem;
  align-items: stretch;
  background-image: linear-gradient(180deg, hsla(39, 100%, 50%, 0.219), transparent calc(var(--spacing)* 3));
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow: hidden;
  padding: calc(var(--spacing)* 3) calc(var(--spacing)* 4) calc(var(--spacing)* 3);
  position: relative;
  z-index: 1;
}