.wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.sticky-sidebar {
    width: 17%;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    margin-top: 20px;
    margin-left: 20px;

    @media (max-width: 1366px) {
        display: none;
    }
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 20%;

    @media (max-width: 1366px) {
        width: 100%;
        margin-left: 0px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}