<div class="header">
    <div class="headline">
        <h1>{{userName}}'s ACTIVITIES</h1>
    </div>
    <div class="actions">
        <app-back-button class="back-button"></app-back-button>
    </div>
</div>

<div class="body">
    <div class="activities-container">
        @for (activity of userActivityList; track $index) {
        <app-activity-card [title]="activity.title" [backgroundImage]="activity.firebaseUrl"
            [groupSizeMin]="activity.groupSizeMin" [groupSizeMax]="activity.groupSizeMax" [isOutdoor]="!activity.indoor"
            locationTooltip="Best during summer months with clear weather" [price]="activity.costs" [rating]="4.7"
            [timesPerformed]="156" activityId="123">
        </app-activity-card>
        }
    </div>
</div>