<div>
    <!-- Content of the dialog -->
    <div class="main">
        <ng-container *ngFor="let friend of friends; let last = last" >
          <div class="friend">
            <app-friend-preview [friend]="friend" [requested]="false" [buttonText]="'Remove from Memory'" [requestedText]="'Undo'" [buttonIcon]="'person_remove'" (buttonClicked)="handleButtonClicked(friend)"></app-friend-preview>
            <mat-divider *ngIf="!last"></mat-divider>
          </div>  
        </ng-container>
    </div>
    <!-- Buttons -->
    <div class="actions">
      <button mat-button (click)="onSave()" [disabled]="deleteFriends.length<=0">Save</button>
      <button mat-button (click)="onCancel()">Cancel</button>
    </div>
  </div>
  