<!-- activity-creation.component.html -->
<div class="activity-creation-container">
  <div class="create-header">
    <app-back-button></app-back-button>
    <h1>Create a New Activity</h1>
  </div>
  <mat-card appearance="outlined">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- Step 2: Details -->
      <mat-step label="Details">
        <div class="form-overlay">
          <form [formGroup]="activityForm">
            <!-- Description TextField -->
            <div class="details-row">
              <mat-form-field appearance="outline" class="flex">
                <mat-label>Related Link</mat-label>
                <input matInput formControlName="link">
              </mat-form-field>
              <!-- File Upload -->
              <input type="file" #fileInput multiple (change)="onFileSelected($event)" style="display: none;">
              <button mat-flat-button (click)="fileInput.click()" class="flex file-upload-btn">
                Upload Files
              </button>
            </div>
            <div class="details-row">
              <!-- Link TextField -->
              <mat-form-field appearance="outline" class="flex">
                <mat-label>Event Description</mat-label>
                <textarea matInput formControlName="description" rows="8"></textarea>
              </mat-form-field>
              <mat-card appearance="outlined" class="flex file-list">
                <mat-list *ngIf="uploadedFiles.length > 0">
                  <mat-list-item *ngFor="let file of uploadedFiles">
                    {{ file.name }}
                    <button mat-icon-button (click)="removeFile(file)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </mat-card>
            </div>
            <!-- Toggle Buttons -->
            <div class="toggle-section">
              <!-- Location Toggle -->
              <mat-button-toggle-group formControlName="location">
                <mat-button-toggle value="indoor">
                  <mat-icon>home</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="outdoor">
                  <mat-icon>landscape</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>

              <!-- Season Toggle -->
              <mat-button-toggle-group formControlName="season">
                <mat-button-toggle value="spring">
                  <mat-icon>grass</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="summer">
                  <mat-icon>wb_sunny</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="autumn">
                  <mat-icon>park</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="winter">
                  <mat-icon>ac_unit</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>

              <!-- Weather Toggle -->
              <mat-button-toggle-group formControlName="weather">
                <mat-button-toggle value="sunny">
                  <mat-icon>wb_sunny</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="cloudy">
                  <mat-icon>cloud</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="rainy">
                  <mat-icon>water_drop</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <!-- Tags Section 
      <mat-form-field class="full-width">
        <mat-label>Add Tags</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row 
            *ngFor="let tag of tags" 
            (removed)="removeTag(tag)"
          >
            {{tag}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input 
            placeholder="New tag..."
            [matChipInputFor]="chipGrid"
            (matChipInputTokenEnd)="addTag($event)"
          >
        </mat-chip-grid>
      </mat-form-field>-->
          </form>

          <div class="step-navigation">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">Create Activity</button>
          </div>
        </div>
      </mat-step>
      <!-- Step 1: Main Information -->
      <mat-step [stepControl]="activityForm" label="Main Information">
        <div class="form-overlay">
          <form [formGroup]="activityForm">
            <!-- Title and Privacy Toggle -->
            <div class="title-row">
              <mat-form-field appearance="outline" class="title-field">
                <mat-label>Activity Title</mat-label>
                <input matInput formControlName="title" required>
                <mat-error *ngIf="activityForm.get('title')?.hasError('required')">
                  Title is required
                </mat-error>
              </mat-form-field>
              <mat-slide-toggle formControlName="isPrivate">Public</mat-slide-toggle>
            </div>

            <div class="media-location-row">
              <mat-card appearance="outlined" class="media-location-card"
                [ngStyle]="{'background-image': (lat !== 0 && lng !== 0) ? 'url(/assets/img/map.PNG)' : 'none'}">
                <button mat-flat-button (click)="openMapDialog()">
                  <mat-icon>location_on</mat-icon> Add Location
                </button>

              </mat-card>
              <mat-card appearance="outlined" class="media-location-card"
                [ngStyle]="{'background-image': preview ? 'url(' + preview + ')' : 'none'}">
                <button mat-stroked-button (click)="fileInput.click()" class="upload-button">
                  <mat-icon>add_photo_alternate</mat-icon> Add Picture
                  <input #fileInput type="file" accept="image/*" (change)="selectFiles($event)" style="display: none" />
                </button>
              </mat-card>
            </div>

            <!-- Sliders -->
            <div class="sliders-section">
              <div class="slider-container">
                <span>Group Size: {{ activityForm.get('groupSizeMin')?.value }} - {{
                  activityForm.get('groupSizeMax')?.value }}</span>
                <mat-slider min="1" max="20" step="1" showTickMarks discrete>
                  <input matSliderStartThumb formControlName="groupSizeMin">
                  <input matSliderEndThumb formControlName="groupSizeMax">
                </mat-slider>
              </div>
              <div class="slider-container">
                <span>Cost: ${{ activityForm.get('costs')?.value }}</span>
                <mat-slider min="0" max="100" step="5" showTickMarks discrete>
                  <input matSliderThumb formControlName="costs">
                </mat-slider>
              </div>
            </div>

            <!-- Navigation Buttons -->
            <div class="step-navigation">
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </form>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>