/* activity-creation.component.scss */
.activity-creation-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.create-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  h1 {
    width: 100%;
    margin: initial;
    margin-left: 25px;
  }
}

.step-content {
  margin: 20px 0;
  min-height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.form-overlay {
  background-color: var(--mat-sys-background);
  padding: 24px;
  border-radius: 8px;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.title-field {
  margin-top: 15px;
  flex-grow: 1;
}

.sliders-section {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}

.slider-container {
  margin-bottom: 20px;
  flex-grow: 1;
  label {
    display: block;
  }
}

mat-slider{
  width: 90%;
}

.step-navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 16px;
}

.media-location-row{
  gap: 16px;
  display: flex;
  margin-bottom: 36px;
}

.media-location-card{
  aspect-ratio: 1/1;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}