@use "@angular/material" as mat;
@use "../themes/light.scss" as light;

$heading-font-family: "'Roboto', Helvetica Neue, sans-serif";
$regular-font-family: "'Roboto', sans-serif";


$my-app-typography: mat.m2-define-typography-config(
  $font-family: $regular-font-family,
  $headline-1: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 12px),
  $headline-2: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 56px),
  $headline-3: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 45px, $line-height: 48px),
  $headline-4: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 34px, $line-height: 40px),
  $headline-5: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 150px),
  $headline-6: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 50px, $line-height: 32px),
  $subtitle-1: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 18px, $line-height: 28px),
  $subtitle-2: mat.m2-define-typography-level($font-family: $heading-font-family, $font-size: 18px, $line-height: 24px),
  $body-2: mat.m2-define-typography-level($font-size: 50px),
  $body-1: mat.m2-define-typography-level($font-size: 16px),
  $button: mat.m2-define-typography-level($font-size: 16px, $font-weight: 800),
);