<mat-card class="card" appearance="outlined">
  <div class="image-container">
    <img class="background-image" [src]="cardData().title_pic" [alt]="cardData().title || 'Memory image'" />
  </div>
  @if (showUserName()) {
  <app-person-hint [username]="cardData().username"></app-person-hint>
  }
  <div class="text-container">
    <h3>{{ cardData().title }}</h3>
    <p>{{ formatDate(cardData().memory_date, cardData().memory_end_date) }}</p>
    <div class="action-div">
      <button mat-icon-button aria-label="Quick Add Photo" (click)="addPhotosMemory($event)">
        <mat-icon>add_a_photo</mat-icon>
      </button>
      <button mat-icon-button aria-label="Share Memory" (click)="shareMemory($event)">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</mat-card>