@use '../../../styles/components/mixins' as mixins;

.card {
  @include mixins.full-size();
  cursor: pointer;
  transition: border 0.3s ease;

  &:hover {
    border: 2px solid var(--mat-sys-primary);

    .edit-button {
      transform: translateY(0);
    }
  }

  .image-container {
    @include mixins.full-size();
    position: relative;
    overflow: hidden;

    .background-image {
      @include mixins.full-size();
      object-fit: cover;
    }
  }

  .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background: var(--mat-sys-surface);
    opacity: 0.7;
    backdrop-filter: blur(4px);
    h3 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      margin: 8px 0 0;
      font-size: 1rem;
    }
  }

  .edit-button {
    position: absolute;
    bottom: 15px;
    right: 10px;
    color: var(--mat-sys-on-surface);
    transform: translateY(110%);
    transition: transform 0.3s ease;
  }
}