<h2 mat-dialog-title>Change Password</h2>
<div mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field>
      <input matInput formControlName="currentPassword" type="password" placeholder="Current Password">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="newPassword" type="password" placeholder="New Password">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" (click)="changePassword()">Change Password</button>
</div>
