@use "@angular/material" as mat;
@use "styles/themes/light.css";
@use "styles/typography/config" as config;



@include mat.core();
@include mat.typography-hierarchy(config.$my-app-typography);


$light-theme: mat.define-theme(
    (
        color: (
            use-system-variables: true
        ),
        typography: config.$my-app-typography
    )
);


html {
    @include mat.all-component-themes($light-theme);
  
    @include mat.system-level-colors($light-theme);
    @include mat.system-level-typography($light-theme);
  }
  


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
