@if (company) {
<mat-card appearance="outlined">
    <div class="user-details">
        <mat-list class="list-wrapper">
            <mat-list-item>
                <mat-icon matListItemIcon>apartment</mat-icon>
                <div matListItemTitle>{{company.name}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>call</mat-icon>
                <div matListItemTitle>{{company.phone}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>mail</mat-icon>
                <div matListItemTitle>{{company.email}}</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>language</mat-icon>
                <div matListItemTitle>{{company.website}}</div>
            </mat-list-item>
        </mat-list>
        <mat-card-actions>
            @if (company.owner_id===userId) {
            <button mat-stroked-button class="editbutton" (click)="openEditCreateDialog()"
                style="margin-right: 3px;">Edit</button>
            }
            @if (company.owner_id===userId) {
            <button mat-stroked-button class="editbutton" (click)="openInviteDialog()"
                style="margin-right: 3px;">Invite</button>
            }
            <button mat-stroked-button class="editbutton" (click)="onLeaveClick(company.owner_id===userId)">
                {{ company.owner_id === userId ? 'Delete' : 'Leave' }}
            </button>
        </mat-card-actions>
    </div>
</mat-card>
}
<br>
@if (!company) {
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>No Company</mat-card-title>
        <mat-card-subtitle>You have not joined a company yet. Do you want to change that?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-stroked-button class="editbutton" style="margin-right: 3px;" (click)="joinCompany()">Join</button>
        <button mat-stroked-button class="editbutton" (click)="openEditCreateDialog()">Create</button>
    </mat-card-actions>
</mat-card>
}