.memory-card{
    border-radius: 12px;
  }

  .tag{
    display: flex; /* Make the content itself a flex container */
    align-items: center;
    mat-icon{
      margin-right: 3px;
    }
  }

  .memory-card-empty{
    background-color: rgba(209, 209, 209, 0.534);
    border-radius: 12px;
    height: 95%;
    text-align: center;
    justify-content: center;
    font-style: italic;
  }