@use 'components/memory-card-empty' as mixins;


.memory-card {
  height: 100%;
}

.tag {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.memory-card-empty {
  @include mixins.memory-card(100%, 100%);
}

.truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  color: var(--mat-sys-on-primary-fixed-variant);
}

.two-line-truncate {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  font-size: var(--mat-sys-title-small-size);
}

.truncate-title {
  width: 80%;
}

mat-card-title-group {
  justify-content: space-between;
}

mat-icon{
  color: var(--mat-sys-secondary);
}