@use 'components/memory-card-empty' as mixins;


.memory-card {
  height: 100%;
}

.memory-card-empty {
  @include mixins.memory-card(100%, 100%);
}

.memory-image {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

.memory-card-content {
  height: 100%;
  padding: 0px;
  display: flex;
}

.memory-card-text {
  height: 100%;
  width: 70%;

  .truncated-title {
    font-weight: bold;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    color: var(--mat-sys-primary);
    margin: 8px;
  }

  .truncated-description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    font-size: var(--mat-sys-title-small-size);
    margin: 8px;
  }

  .memory-items {
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin: 8px;

    .second-icon {
      margin-left: 24px;
    }
  }
}

mat-icon {
  color: var(--mat-sys-secondary);
}