@if (memory(); as mem) {
@if (mem.title) {
<mat-card class="memory-card" appearance="outlined">
  <mat-card-content class="memory-card-content">
    <img [src]="mem.title_pic" class="memory-image" alt="Pinned Memory Image">
    <div class="memory-card-text">
      <mat-card-title class="truncated-title">{{ mem.title }}</mat-card-title>
      <mat-card-subtitle class="truncated-description">{{ mem.text }}</mat-card-subtitle>
      <div class="memory-items">
        <mat-icon aria-hidden="false" aria-label="Picture Count icon" fontIcon="image_arrow_up"></mat-icon>
        <strong>{{mem.picture_count}}</strong>
        <mat-icon aria-hidden="false" aria-label="Calender icon" fontIcon="date_range" class="second-icon"></mat-icon>
        {{mem.memory_date | date}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
} @else {
<mat-card class="memory-card-empty" appearance="outlined">
</mat-card>
}
} @else {
<mat-card class="memory-card-empty" appearance="outlined">
</mat-card>
}