<div class="wrapper">
  
  <div class="sticky-sidebar">
    @if (user) {
    <app-my-activity-information [user]="user"></app-my-activity-information>
    <app-company-information [company]="company" [userId]="user.user_id"></app-company-information>
    } @else {
      <mat-card class="no-connection" appearance="outlined">No Database Connection</mat-card>
    }
  </div>
  
  <div class="main-content">
    <div class="header">
      <h1>ACTIVITIES</h1>
      <div class="header-buttons">
        <button mat-stroked-button class="small-screen-button">
          <mat-icon>
            arrow_forward_ios
          </mat-icon>
          View Activites
        </button>
        <button mat-raised-button color="accent" (click)="addActivity()">
          <mat-icon class="add-icon">add</mat-icon>
          Add Activity
        </button>
      </div>
    </div>
    @if (activities.length > 0) {
      <app-activity-list [activities]="activities"></app-activity-list>
    }
    @else {
      <!--<p>We are so sorry. Something went wrong! :(</p>-->
    }
  </div>
</div>