<!--<div>
  <input type="search" [(ngModel)]="address" (keydown.enter)="findAddress()" placeholder="Enter an address here"
    [disabled]="isWorking">
</div>

<div>
  <button mat-raised-button color="primary" class="fixed-fab" (click)="findAddress()"
    [disabled]="isWorking || !address.length">
    <mat-icon class="add-icon">home</mat-icon>
    Find address
  </button>
</div>

<hr>


  <div>
    <div>
      <h5>Formatted Address</h5>
      <p>
        {{ formattedAddress?.length ? formattedAddress : 'N/A' }}
      </p>
      <h5>Coordinates</h5>
      <p>
        Latitude: {{ locationCoords ? locationCoords.lat() : 'N/A' }}<br>
        Longitude: {{ locationCoords ? locationCoords.lng() : 'N/A' }}
      </p>
    </div>
  </div>
  <div>
    <div>
      <google-map [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions" (mapClick)="addMarker($event)">
        <map-marker [position]="markerPosition" [options]="markerOptions" />
        <map-info-window>{{ markerInfoContent }}</map-info-window>
      </google-map>
    </div>
  </div>
  <button (click)="submitAddress()">Get Address</button>-->

  <div *ngIf="formattedAddress">
    <p>Formatted Address: {{ formattedAddress }}</p>
  </div>

<button (click)="openMapDialog()">Open Map Dialog</button>