<div class="wrapper" *ngIf="user">
    <div class="sticky-sidebar">
        <app-my-activity-information [user]="user"></app-my-activity-information>
        <app-company-information [company]="company" [userId]="user.user_id"></app-company-information>
    </div>
    <div class="main-content">
      <div class="header">
        <h1>ACITVITIES</h1>
        <button mat-raised-button color="accent" (click)="addActivity()">
          <mat-icon class="add-icon">add</mat-icon>
          Add Activity
        </button>
      </div>
    </div>
  </div>
  