
.main{
  width: 80%;
}

.header{
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  width: 430px;
}
.wrapper {
  display: flex;
  height: 100vh;
  margin-top: 35px;
}

.sticky-sidebar {
  width: 20%;
  margin-left: 20px;
}