<form class="quick-field">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Or choose a quick activity</mat-label>
      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControl]="activityCtrl"
             [(ngModel)]="quickActivity"
             >
      <mat-autocomplete #auto="matAutocomplete">
        @for (state of filteredStates | async; track state) {
          <mat-option [value]="state.name">
            <mat-icon>{{state.icon}}</mat-icon>
            <span>{{state.name}}</span> |
            <small>{{state.genre}}</small>
          </mat-option>
        }
      </mat-autocomplete>
      <button mat-icon-button matSuffix [disabled]="!quickActivity.trim()" (click)="addMemory()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-form-field>
  </form>
  