<form class="quick-field">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Or choose a quick activity</mat-label>
      <input matInput
             aria-label="Activity"
             [matAutocomplete]="auto"
             [formControl]="activityCtrl"
             [(ngModel)]="quickActivity"
             >
      <mat-autocomplete #auto="matAutocomplete">
        @for (activity of filteredActivities | async; track activity) {
          <mat-option [value]="activity.name">
            <mat-icon>{{activity.icon}}</mat-icon>
            <span>{{activity.name}}</span> |
            <small>{{activity.genre}}</small>
          </mat-option>
        }
      </mat-autocomplete>
      <button mat-icon-button matSuffix [disabled]="!quickActivity.trim()" (click)="addMemory()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-form-field>
  </form>
  