<div class="layout-container" *ngFor="let layout of imageLayouts">
  <div *ngIf="layout.type === 1" class="layout-1">
    <img [src]="layout.images[0]" alt="Landscape Image" />
  </div>
  
  <div *ngIf="layout.type === 2" class="layout-2">
    <img [src]="layout.images[0]" alt="Portrait Image" />
    <img [src]="layout.images[1]" alt="Portrait Image" />
  </div>
  
  <div *ngIf="layout.type === 3" class="layout-3">
    <img [src]="layout.images[0]" alt="Portrait Image" />
    <div class="stacked-images">
      <img [src]="layout.images[1]" alt="Landscape Image" />
      <img [src]="layout.images[2]" alt="Landscape Image" />
    </div>
  </div>
  
  <div *ngIf="layout.type === 4" class="layout-4">
    <div class="stacked-images">
      <img [src]="layout.images[1]" alt="Landscape Image" />
      <img [src]="layout.images[2]" alt="Landscape Image" />
    </div>
    <img [src]="layout.images[0]" alt="Portrait Image" />
  </div>
</div>
