.layout-container {
  margin-bottom: 20px;
}

.layout-1 img, .layout-2 img, .layout-3 img, .layout-4 img {
  width: 100%;
  height: auto;
}

.layout-2 {
  display: flex;
  justify-content: space-between;
}

.layout-3, .layout-4 {
  display: flex;
}

.stacked-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
