@use '../friend-preview/friend-preview.component.scss';

mat-card{
    margin-top: 16px;
}

mat-divider{
    margin-bottom: 12px;
}

.delete-icon{
    color: var(--mat-sys-error);
}

.row {
    margin-bottom: 12px;
}