@use '../../../styles/components/memory-card-empty' as mixins;

.stats-card {
    margin-top: 15px;
    padding: 15px;
  }
  
  .user-details {
    padding-left: 20px;
    line-height: 10px;
  }


  .memory-card-empty {
    @include mixins.memory-card(500px, 100%);
    margin-top: 15px;
  }