@if(dbConnection){
  <mat-card class="stats-card" appearance="outlined">
    <h2>MEMORISE STATS</h2>
    @if (memoryCount !== null && memoryThisYearCount !== null && friendsCount !== null) {
    <div class="user-details">
      <h3>Total Memories: {{ memoryCount }}</h3>
      <p>This year: {{ memoryThisYearCount }}</p>
      <p>Friends: {{ friendsCount }}</p>
    </div>
    } @else {
      <p>Loading stats...</p>
    }
  </mat-card>

  <mat-card class="memory-card-empty" appearance="outlined">
    <p>Ad placeholder</p>
  </mat-card>
}
@else{    
  <mat-card class="memory-card-empty" appearance="outlined">
    <p>No DB Connection!</p>
  </mat-card>
}