@if(dbConnection){
  <mat-card class="stats-card" appearance="outlined">
    <h2>MEMORISE STATS</h2>
    @if (memoryCount !== null && memoryThisYearCount !== null && friendsCount !== null) {
    <div class="user-details">
      <h3>Total Memories: {{ memoryCount }}</h3>
      <p>This year: {{ memoryThisYearCount }}</p>
      <p>Friends: {{ friendsCount }}</p>
    </div>
    } @else {
      <p>Loading stats...</p>
    }
  </mat-card>
}
@else{    
  <mat-card class="no-connection" appearance="outlined">No Database Connection</mat-card>
}