.bd-home-section {
    --spacing: 3rem;
    --bd-section-vertical: 1rem;
    --bd-section-horizontal: 1rem;
    align-items: stretch;
    background-image: linear-gradient(180deg, hsla(39, 100%, 50%, 0.219), transparent calc(var(--spacing)* 3));
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    overflow: hidden;
    padding: calc(var(--spacing)* 3) calc(var(--spacing)* 4) calc(var(--spacing)* 3);
    position: relative;
    z-index: 1;
  }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    h1{
        font-size: 50px;
        font-weight: bold;
        margin-left: 25px;
    }
    button{
        margin-right: 25px;
        margin-bottom: 10px;
    }
}

mat-form-field{
    width: 90%;
    margin-top: 15px;
    margin-left: 10px;  
}
.form-desc{
    max-height: 400px;
}
.title-div{
    display: flex;
    align-items: center;
    button{
        margin-left: 20px;
        color: white;
    }
}

.save {
    background-color: rgba(#25b638, 1);
    color: white;
}
.discard {
    background-color: rgba(#6f726f, 1);
    color: white;
}

.friends-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    app-friends-autocomplet{
        width: 90%;
    }
    button{
        margin-right: 10px;
        margin-top: 10px;
    }
}

.edit-friends{
    margin-top: 55px;
    margin-left: 30px;
}

.photo-buttons{
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    button{
        width: 40%;
    }
}