@use 'components/mixins' as mixins;
@use 'components/memory-card-empty.scss' as memory-card-empty-mixin;

.bd-home-section {
  @include mixins.background-gradient;
}

.memory-card-empty {
  @include memory-card-empty-mixin.memory-card(100%, 100%);
}

.profile-image {
  @include mixins.profile-pic();
  width: 50px;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-left: 25px;
  }

  button {
    margin-right: 25px;
  }
}

.full-width {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

.title-row {
  display: flex;

  .title {
    width: 70%;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    width: 30%;
  }
}

.date-activity-box {
  width: 100%;
  height: 100%;
  align-content: center;
  mat-form-field, button{
    width: 100%;
  }
}

.map-wrap {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  height: 150px;
}

.map-background {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


.friend-wrapper {
  display: flex;
  gap: 1rem; // Adds spacing between the child components
}

.friend-wrapper>* {
  flex: 1 1 50%; // Each child takes up 50% of the available width
}

.desc-margin {
  margin-top: 5px;
}

.button-margin {
  margin-top: 55px;
}

.icon-buttons {
  margin-left: 30px;

  button {
    margin-left: 20px;
  }
}