.bd-home-section {
  --spacing: 3rem;
  --bd-section-vertical: 1rem;
  --bd-section-horizontal: 1rem;
  align-items: stretch;
  background-image: linear-gradient(180deg, hsla(39, 100%, 50%, 0.219), transparent calc(var(--spacing)* 3));
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow: hidden;
  padding: calc(var(--spacing)* 3) calc(var(--spacing)* 4) calc(var(--spacing)* 3);
  position: relative;
  z-index: 1;
}

.memory-card-empty {
  background-color: rgba(209, 209, 209, 0.534);
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-style: italic;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-left: 25px;
  }

  button {
    margin-right: 25px;
    margin-bottom: 10px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

.title-row {
  display: flex;

  .title {
    width: 70%;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    width: 30%;
  }
}

.profile-row {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.profile-image {
  width: 50px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.image-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more {
  font-size: large;
  margin-left: 3rem;
}

.map-wrap {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  height: 150px;
}

.map-background {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}