@import '../memory-detail/memory-detail.component.scss';
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    h1{
        font-size: 50px;
        font-weight: bold;
        margin-left: 25px;
    }
    button{
        margin-right: 25px;
        margin-bottom: 10px;
    }
}

mat-grid-list {
    margin: 5px;
}

mat-grid-tile{
    border-radius: 10px;
}

.memory-color {
    background-color: white;
    padding: 5px;
}

mat-form-field{
    width: 90%;
    margin-top: 15px;
    margin-left: 10px;
    
}
.form-desc{
    max-height: 400px;
}
.title-div{
    display: flex;
    align-items: center;
    button{
        margin-left: 20px;
        color: white;
    }
}

.save {
    background-color: rgba(#25b638, 1);
    color: white;
}
.discard {
    background-color: rgba(#6f726f, 1);
    color: white;
}

.friends-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    app-friends-autocomplet{
        width: 90%;
    }
    button{
        margin-right: 10px;
        margin-top: 10px;
    }
}

.edit-friends{
    margin-top: 55px;
    margin-left: 30px;
}