<div class="header">
    <div>
        <h1>EDIT MEMORY</h1>
    </div>
    <div class="actions">
        <button mat-flat-button class="save" (click)="saveChanges()" [disabled]="true"><mat-icon>save</mat-icon>Save</button>
        <button mat-flat-button class="discard" (click)="goToHome()" [disabled]="true"><mat-icon>cancel</mat-icon>Discard</button>
        <button mat-flat-button color="warn" (click)="deleteMemory()"><mat-icon>delete</mat-icon>Delete Memory</button>
    </div>
</div>

<mat-divider></mat-divider>

<div *ngIf="this.memory">
    <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'2px'">
        <!-- First Row -->
        <mat-grid-tile colspan="2" rowspan="2">
            <div class="memory-color">
                <form [formGroup]="memoryForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="form-desc">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description" formControlName="description" [cdkTextareaAutosize]="true" class="form-desc"></textarea>
                    </mat-form-field>
                </form>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Friends:</h2>
                <div class="friends-div">
                    <span>Select the friends you want to add and hit "Save"!</span>
                    <app-friends-autocomplet></app-friends-autocomplet>
                    <button mat-flat-button color="accent"><mat-icon>edit</mat-icon>Edit existing friends</button>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Date:</h2>
                <span>Date</span>
            </div>
        </mat-grid-tile>
        <!-- Second Row -->
        <mat-grid-tile colspan="2" rowspan="2">
            <div class="memory-color">
                <h2>Photos</h2>
                <button mat-flat-button color="accent" (click)="addPhotos()">Add Photos</button>
                <button mat-flat-button color="accent" (click)="addPhotos()">Manage Photos</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Map:</h2>
                <span>Location</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Additional Files:</h2>
                <span>additional</span>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>