<div class="header">
    <div>
        <h1>EDIT MEMORY</h1>
    </div>
    <div class="actions">
        <button mat-flat-button class="save" (click)="saveChanges()"><mat-icon>save</mat-icon>UPDATE</button>
        <button mat-flat-button class="discard" (click)="goToHome()"><mat-icon>close</mat-icon>DISCARD</button>
        <button mat-flat-button color="warn" (click)="deleteMemory()"><mat-icon>delete</mat-icon>DELETE</button>
    </div>
</div>

<mat-divider></mat-divider>

<div *ngIf="this.memory">
    <mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'4px'">
        <!-- First Row -->
        <mat-grid-tile colspan="2" rowspan="2">
            <div class="memory-color">
                <form [formGroup]="memoryForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="form-desc">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description" formControlName="description" [cdkTextareaAutosize]="true" class="form-desc"></textarea>
                    </mat-form-field>
                </form>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="2">
            <div class="memory-color">
                <h2>Friends:</h2>
                <div>
                    <span style="margin-left: 30px;">Select the friends you want to add and hit "Save"!</span>
                    <div class="friends-div">
                        <app-friends-autocomplet (selectedValuesChange)="onSelectedValuesChange($event)" [memoryId]="memoryId"></app-friends-autocomplet>
                        <button mat-flat-button class="save" (click)="addFriends()" [disabled]="newFriends"><mat-icon>add</mat-icon>Add</button></div>
                    <button mat-flat-button color="accent" class="edit-friends" (click)="manageFriends()"><mat-icon>edit</mat-icon>Edit existing friends</button>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Date:</h2>
                <mat-form-field appearance="outline">      
                    <mat-date-range-input  [formGroup]="memoryForm" [rangePicker]="rangePicker">
                      <input matStartDate formControlName="memory_date" placeholder="Start Date">
                      <input matEndDate formControlName="memory_end_date" placeholder="End Date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <!-- Second Row -->
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Photos</h2>
                <div class="photo-buttons">
                    <button mat-flat-button color="accent" (click)="addPhotos()">Add Photos</button>
                    <button mat-flat-button color="accent" (click)="managePhotos()" style="margin-left: 10px;">Manage Photos</button>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Map:</h2>
                <button mat-raised-button color="accent" class="fixed-fab" (click)="openMapDialog()">
                    <mat-icon class="add-icon">search</mat-icon>
                    Update Address on Map
                </button>
            </div>
        </mat-grid-tile>
        <!--<mat-grid-tile colspan="1" rowspan="1">
            <div class="memory-color">
                <h2>Additional Space:</h2>
                <span>additional</span>
            </div>
        </mat-grid-tile>-->
    </mat-grid-list>
</div>