@import '../../../styles/components/page.scss';

.friends-container {
  display: flex;
  justify-content: space-between;
  mat-card {
    align-items: center;
  }
}

.search-bar,
.suggestions-card {
  width: 48%; /* Adjust as needed */
  padding: 10px;
}

mat-divider {
  margin-top: 15px;
}

mat-card-content {
  width: 70%;
  align-items: center;
  margin-left: 150px;
}
.search{
  margin-left: 0px;
}