@import '../../../styles/components/page.scss';

.friends-container {
  display: flex;
  justify-content: space-between;
  mat-card {
    align-items: center;
  }
}

.suggestions-card {
  width: 48%; /* Adjust as needed */
  padding: 10px;
}

.search-content {
  width: 70%;
  align-items: center;
}