<google-map
  height="800px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  >
  @for (pos of markers; track pos) {
    <map-marker
      #marker="mapMarker"
      [position]="pos.position"
      [title]="pos.title"
      (mapClick)="openInfoWindow(marker, pos)"
    ></map-marker>
  }

  <map-info-window>
    <div class="size">
      @if (currentMemory) {
        <app-memory-card [cardData]="currentMemory" class="fullcard" (click)="onButtonClick(currentMemory)"></app-memory-card>
      }
    </div>
  </map-info-window>
</google-map>
