@use 'components/header.scss';
@use 'components/layouts.scss';
@use '@angular/material' as mat;

/* activity-detail.component.scss */
.activity-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.center {
  font-style: italic;
}

.image-memories-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .image-container,
  .memories-container {
    flex: 1;
  }
}

.image-container {
  .main-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.memories-container {
  justify-content: center;
  padding: 24px;

  .button-container {
    display: flex;
    justify-content: center;
    gap: 16px;

    button {
      width: 100%;
    }
  }
}

.rating-views-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  .rating {
    .mat-icon {
      color: var(--mat-sys-secondary-container);

      &.filled,
      &.half-filled {
        color: var(--mat-sys-secondary);
      }
    }
  }

  .views {
    display: flex;
    align-items: center;

    .mat-icon {
      margin-right: 4px;
    }
  }
}

.toggles-container {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.map-description-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .map-container {
    width: 60%;
  }

  .description-container {
    width: 40%;
  }
}

.group-price-container {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;

  .group-size,
  .price {
    display: flex;
    align-items: center;

    .mat-icon {
      margin-right: 8px;
    }

    span {
      font-weight: 500;
    }
  }
}

.documents-container {
  h3 {
    margin-bottom: 8px;
  }

  mat-divider {
    margin-bottom: 16px;
  }
}

.mat-button-toggle-appearance-standard.mat-button-toggle-disabled.mat-button-toggle-checked {
  color: var(--mat-sys-on-secondary-fixed);
  background-color: var(--mat-sys-secondary-container);
}

.expand-flat-button {
  overflow: hidden;
  padding: 0 12px;
  min-width: 40px;
  width: 40px;
  transition: width 0.3s ease, border-radius 0.3s ease;

  .button-content {
    display: flex;
    padding-left: 104px;
    justify-content: center;
    align-items: center;
  }

  .button-text {
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    margin-left: 6px;
    transition: max-width 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
  }

  &:hover {
    width: 220px;

    .button-text {
      max-width: 120px;
      opacity: 1;
    }

    .button-content {
      padding-left: unset;
    }
  }
}