:root,
:host {
    --sys-background: #fff8f4;
    --sys-on-background: #211a13;
    --sys-surface: #ffffff;
    --sys-surface-dim: #e5d8cc;
    --sys-surface-bright: #fff8f4;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #ffffff;
    --sys-surface-container: #f9ecdf;
    --sys-surface-container-high: #f3e6da;
    --sys-surface-container-highest: #ede0d4;
    --sys-on-surface: #211a13;
    --sys-surface-variant: #f1e0d0;
    --sys-on-surface-variant: #504539;
    --sys-inverse-surface: #362f27;
    --sys-inverse-on-surface: #fceee2;
    --sys-outline: #827568;
    --sys-outline-variant: #d4c4b5;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #815512;
    --sys-primary: #ff9900;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #ffddb7;
    --sys-on-primary-container: #653e00;
    --sys-inverse-primary: #f7bb70;
    --sys-secondary: #815511;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #ffddb5;
    --sys-on-secondary-container: #643f00;
    --sys-tertiary: #4b662c;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #cdeda4;
    --sys-on-tertiary-container: #354e16;
    --sys-error: #904a43;
    --sys-on-error: #ffffff;
    --sys-error-container: #ffdad5;
    --sys-on-error-container: #73342d;
    --sys-neutral: #7f756b;
    --sys-neutral-variant: #827568;
    --sys-primary-fixed: #ffddb7;
    --sys-primary-fixed-dim: #f7bb70;
    --sys-on-primary-fixed: #2a1700;
    --sys-on-primary-fixed-variant: #653e00;
    --sys-secondary-fixed: #ffddb5;
    --sys-secondary-fixed-dim: #f6bc70;
    --sys-on-secondary-fixed: #2a1800;
    --sys-on-secondary-fixed-variant: #643f00;
    --sys-tertiary-fixed: #cdeda4;
    --sys-tertiary-fixed-dim: #b1d18a;
    --sys-on-tertiary-fixed: #102000;
    --sys-on-tertiary-fixed-variant: #354e16;
    --sys-inverse-secondary: #f6bc70;
    --sys-inverse-tertiary: #b1d18a;
    --sys-inverse-error: #ffb4ab;
    --sys-error-fixed: #ffdad5;
    --sys-error-fixed-dim: #ffb4ab;
    --sys-on-error-fixed: #3b0907;
    --sys-on-error-fixed-variant: #73342d;
}
