<h2 mat-dialog-title>
  @if (uploadedCount() === data.filesWithDimensions.length) {
    Upload Complete!
  } @else {
    Uploading {{ uploadedCount() + 1 }} of {{ data.filesWithDimensions.length }}...
  }
</h2>

<mat-dialog-content> 
  <div class="upload-container">
    @for (file of data.filesWithDimensions; track file.file.name; let i = $index) {
      <div class="file-row">
        <div class="file-info">
          <span>{{ file.file.name }}</span>
          <span class="percentage">{{ progress()[i] }}%</span>
        </div>
        
        <mat-progress-bar 
          mode="determinate" 
          [value]="progress()[i]"
          [color]="progress()[i] === 100 ? 'accent' : 'primary'">
        </mat-progress-bar>
      </div>
    }
  </div>
</mat-dialog-content>