@if (userAccountDetails !== undefined) {
<div class="theme-controls account-{{userAccountDetails.accountType.toLowerCase()}}">
    <div class="storage-info-container">
        <div class="storage-text-row">
            <span>{{this.userAccountDetails.accountType}}</span>
            @if (userAccountDetails.accountType !== 'UNLIMITED') {
                <span class="storage-usage-label">{{userAccountDetails.storageUsedBytes/1000000000 | number:'1.0-1'}}/{{maxStorage/1000000000}}GB</span>
            }
        </div>
        <mat-progress-bar mode="determinate" [value]="storageUsed"></mat-progress-bar>
    </div>
    <div class="upgrade-action-container">
        <button matIconButton aria-label="Feedback button" (click)="openChoosePlanComponent()">
            <mat-icon>loyalty</mat-icon>
        </button>
    </div>
</div>
}