@if (accountType() !== undefined) {
<div class="theme-controls account-{{accountType().toLowerCase()}}">
    <div class="storage-info-container">
        <div class="storage-text-row">
            <span>{{accountType()}}</span>
            @if (accountType() !== 'UNLIMITED') {
            <span class="storage-usage-label">{{storageUsedGB() | number:'1.0-1'}}/{{storageMaxGB()}}GB</span>
            }
        </div>
        @if (accountType() !== 'UNLIMITED') {
        <mat-progress-bar mode="determinate" [value]="storageMaxGB()"></mat-progress-bar>
        }
        @else {
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
        }
    </div>
    <div class="upgrade-action-container">
        <button matIconButton aria-label="Feedback button" (click)="openChoosePlanComponent()">
            <mat-icon>loyalty</mat-icon>
        </button>
    </div>
</div>
}