.activity-card {
    display: flex;
    align-items: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

button{
  margin-top: 3px;
}

.editbutton{
  width: 100%;
}
.list-wrapper mat-list-item {
    height: 34px;
  }