.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    h1{
        font-size: 50px;
        font-weight: bold;
        margin-left: 25px;
    }
    button{
        margin-right: 25px;
        margin-bottom: 10px;
    }
}

.body{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensure the image covers the entire container
  }

mat-grid-tile{
    border-radius: 10px
}


.images-to-delete-container {
    display: flex;
    flex-wrap: nowrap; /* Ensures images stay on one line */
    overflow-x: auto; /* Enables horizontal scrollbar */
    white-space: nowrap; /* Prevents unwanted line breaks */
    padding: 5px; /* Adjust padding as needed */
    background-color: #f2f2f2; /* Optional background color */
    border-radius: 5px; /* Optional border radius */
    height: 100px; /* Adjust height as needed */
  }
  
  .images-to-delete-container div {
    position: relative; /* Enable absolute positioning for buttons */
  }

  .images-to-delete-container img {
    margin: 0 5px; /* Adjust margin between images */
    max-width: 100px; /* Set a maximum width for images */
    max-height: 100%; /* Maintain image aspect ratio */
  }

  .images-to-delete-container button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent; /* Removes default button background */
    border: none; /* Removes default button border */
    padding: 0; /* Removes default button padding */
  }
  
  .images-to-delete-container button mat-icon {
    font-size: 18px; /* Adjust icon size as needed */
    color: #990000; /* Adjust icon color as needed */
  }