.login-main{
    justify-content: center;
    display: flex;
    height: 70%;

    @media (max-width: 768px) {
        flex-direction: column;
    
        .logo,
        .login-form {
          width: 100%;  // On smaller screens, make both the image and form take the full width
        }
    }
}

.login-form{
    margin-top: 20vh;
    width: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    width: 50%;
    img{
        width: 100%;
    }
}

mat-form-field{
    width: 60%;
}

.headline{
    font-size: 30px;
}

.action-buttons{
    justify-content: space-between;
    .reg-button{
        margin-left: 10px;
    }
}

.picturediv{
    height: 30%;
    background: url('../../../assets/img/mountain3.png') repeat-x;
}
