@import '../../pages/memory-detail/image-preview.scss';

.preview {
  max-width: 30%; 
  height: auto; 
  margin: 1%; 
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-show {
  width: 100%;
}

.upload-button{
  margin-left: 0px;
}
 
.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba($color: #FFA500, $alpha: 0.5);
  color: black;
  border: none;
  cursor: pointer;
}

.card{
  cursor: auto;
}

mat-grid-list{
  margin-top: 15px;
}