@import '../../pages/memory-detail/image-preview.scss';

.preview {
  max-width: 30%; 
  height: auto; 
  margin: 1%; 
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
 
.card{
  cursor: auto;
}

mat-grid-list{
  margin-top: 15px;
}

.card {
  transition: border-color 0.3s;
  border: 2px solid transparent;
}

.card.hovered {
  border-color: #FFA500;  // Change border color on hover
}

.card.starred {
  border-color: #FFA500;  // Keep border orange for starred card
}

.starred-icon {
  color: #FFA500;  // Make the star icon orange for the starred image
}