@use '../../pages/memory-detail/image-preview.scss';

.preview {
  max-width: 30%; 
  height: auto; 
  margin: 1%; 
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
 
.card{
  cursor: auto;
}

mat-grid-list{
  margin-top: 15px;
}

.card.starred {
  border: 4px solid var(--mat-sys-secondary);
}

.starred-icon {
  color: var(--mat-sys-secondary);
}


p {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  margin: 16px 0;
  background-color: var(--mat-sys-surface-bright);
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.4;
  span{
      font-style: italic;
  }
}

.out-of-storage-p{
  border: 1px solid var(--mat-sys-error);
  span{
    font-weight: bold;
    color: var(--mat-sys-error);
  }
}

.note-p{
  border: 1px solid var(--mat-sys-inverse-primary);
}

p mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.out-of-storage-icon{
  color: var(--mat-sys-error);
}

.note-icon{
  color: var(--mat-sys-secondary);
}