<div *ngFor="let progressInfo of progressInfos">
    <span>{{ progressInfo.fileName }}</span>
    <mat-progress-bar
      mode="determinate"
      [value]="progressInfo.value"
      class="mb-2"
    ></mat-progress-bar>
</div>
  
  <div class="button-div">
    <div>
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>folder</mat-icon>
        <span>Select Files</span>
        <input
          #fileInput
          type="file"
          accept="image/*"
          multiple
          (change)="selectFiles($event)"
          style="display: none"
        />
      </button>    
    </div>
  
    <div class="upload-button">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!selectedFiles"
        (click)="uploadFiles()"
      >
      <mat-icon>file_upload</mat-icon>
      <span>Upload</span>
      </button>
    </div>
  </div>

  
  <mat-grid-list cols="4" rowHeight="1:1" gutterSize="5">
    <mat-grid-tile *ngFor="let preview of previews; let i = index" class="image-container">
      <mat-card class="card">
        <div class="image-container">
          <img class="background-image" [src]="preview">
          <button mat-icon-button (click)="removeImage(i)" class="remove-button">
            <mat-icon>close</mat-icon>
          </button>
        </div> 
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  
  <div *ngIf="message.length" class="image-show">
    <ul *ngFor="let msg of message; let i = index">
      <li>{{ msg }}</li>
    </ul>
  </div>
  