.preview {
  max-width: 30%; 
  height: auto; 
  margin: 1%; 
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-show {
  width: 100%;
  background-color: red;
}

.upload-button{
  margin-left: 0px;
}
  