<div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <span>{{ progressInfo.fileName }}</span>
    <mat-progress-bar
      mode="determinate"
      [value]="progressInfo.value"
      class="mb-2"
    ></mat-progress-bar>
  </div>
  
  <div class="row">
    <div class="col-8">
      <label class="mat-button">
        <input
          type="file"
          accept="image/*"
          multiple
          (change)="selectFiles($event)"
          style="display: none"
        />
        Select Files
      </label>
    </div>
  
    <div class="col-4">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!selectedFiles"
        (click)="uploadFiles()"
      >
        Upload
      </button>
    </div>
  </div>
  
  <div>
    <img *ngFor="let preview of previews" [src]="preview" class="preview" />
  </div>
  
  <div *ngIf="message.length" class="mat-alert my-3">
    <ul *ngFor="let msg of message; let i = index">
      <li>{{ msg }}</li>
    </ul>
  </div>
  
  <mat-card class="mt-3">
    <mat-card-header>List of Images</mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let image of imageInfos | async">
        <p><a [href]="image.url" target="_blank">{{ image.name }}</a></p>
        <img mat-list-avatar [src]="image.url" alt="{{ image.name }}" height="80px" />
      </mat-list-item>
    </mat-list>
  </mat-card>
  