<app-back-button [text]="'Cancel'"></app-back-button>
<mat-stepper linear #stepper>
  <mat-step [stepControl]="memoryForm">
    <form [formGroup]="memoryForm" class="details-form">
      <ng-template matStepLabel>Details to your Memory</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" name="title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-date-range-input [formGroup]="memoryForm" [rangePicker]="rangePicker">
          <input matStartDate formControlName="memory_date" placeholder="Start Date" required>
          <input matEndDate formControlName="memory_end_date" placeholder="End Date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker></mat-date-range-picker>
      </mat-form-field>

      <app-friends-autocomplet (selectedValuesChange)="onSelectedValuesChange($event)"></app-friends-autocomplet>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="memoryForm" label="Location Details">
    <form [formGroup]="memoryForm" class="details-form">
      <!--<mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Street" name="street" formControlName="l_street">
      </mat-form-field>-->
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" name="city" formControlName="l_city">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Postcode</mat-label>
        <input matInput placeholder="Postcode" name="postcode" formControlName="l_postcode">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" name="country" formControlName="l_country">
      </mat-form-field>
      <button mat-raised-button color="accent" class="fixed-fab" (click)="openMapDialog()">
        <mat-icon class="add-icon">search</mat-icon>
        Find Address on Map
      </button>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="memoryForm" label="Upload Photos and Videos">
    <form [formGroup]="memoryForm" class="images-form">
      <app-image-upload [userId]="userId" [memoryData]="memoryForm" [emails]="emailArray"></app-image-upload>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>