h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .details-form {
    max-width: 400px;
    margin: 0 auto;
  }
  .images-form {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 15px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  button {
    margin-bottom: 15px;
  }

  .cancel-button{
    margin: 10px;
  }