  <mat-stepper linear #stepper>
    <mat-step [stepControl]="memoryDetailsForm">
      <form [formGroup]="memoryDetailsForm">
        <ng-template matStepLabel>Details to your Memory</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" name="title" formControlName="detailsCtrl" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="Description" name="description"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="datepicker" placeholder="Date" name="date">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <input matInput placeholder="Friends Attended With" name="friends">
            <button mat-icon-button (click)="openAddFriendDialog()">
              <mat-icon>group_add</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <input matInput placeholder="Location" name="location">
          </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="memoryPicturesForm" label="Upload Photos and Videos">
      <form [formGroup]="memoryPicturesForm">
        <app-image-upload></app-image-upload>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
  