  .details-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .images-form {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 15px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .cancel-button{
    margin: 10px;
  }

  .location-btn{
    width: 100%;
    margin-bottom: 15px;
  }