@use '../../../styles/components/page.scss';

.image {
    width: 100%;
    border-radius: 20px;
    border: 4px solid;
}

.image-div {
    width: 45%;
    border-radius: 20px;
}

p {
    font-weight: bold;
    text-align: center;
}