@use 'components/mixins' as mixins;


.bd-home-section {
  @include mixins.background-gradient;
}

.layout-spacing {
  height: 8px;
}

.image-button {
  all: unset;
  /* Resets button styles */
  cursor: pointer;
  display: inline-block;
}

img {
  display: block;
  object-fit: cover;
}

.back-button {
  top: 0;
  left: 0;
  position: absolute;
}

.person-hint{
  z-index: 999;
}