.bd-home-section {
    --spacing: 3rem;
    --bd-section-vertical: 1rem;
    --bd-section-horizontal: 1rem;
    align-items: stretch;
    background-image: linear-gradient(180deg, hsla(39, 100%, 50%, 0.219), transparent calc(var(--spacing)* 3));
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    overflow: hidden;
    padding: calc(var(--spacing)* 3) calc(var(--spacing)* 10) calc(var(--spacing)* 3);
    position: relative;
    z-index: 1;
  }

img{
    width: 100%;
}

.layout-spacing {
  height: 8px;
}
