@use 'components/mixins' as mixins;


.bd-home-section {
  @include mixins.background-gradient;
}

.layout-spacing {
  height: 8px;
}

.image-button {
  all: unset;
  /* Resets button styles */
  cursor: pointer;
  display: inline-block;
}

img {
  display: block;
  object-fit: cover;
}

.btn-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  .diashow-btn{
    margin: 10px;
  }
}

.person-hint {
  z-index: 999;
}