<app-back-button style="position: absolute;"></app-back-button>
<div class="container">
    <h1>Tell us about your activity!</h1>
    <div class="options">
        <div class="option">
            <img mat-card-image src="/assets/img/no_memories.jpg"
                alt="A person looking through a lexicon in search of existing activities to do">
            <button mat-stroked-button [disabled]="true">
                <mat-icon>arrow_forward</mat-icon> Choose existing Activity
            </button>
        </div>
        <mat-divider vertical></mat-divider>
        <div class="option">
            <app-bockmarked-activities [userId]="loggedInUserId" [fullComponent]="false"
                (activitySelected)="onActivitySelected($event)"></app-bockmarked-activities>
        </div>
    </div>
    <div class="skip-btn">
        <button mat-button (click)="onActivitySelected(56)"> <!--activity with id 56 is a placeholder activity-->
            <mat-icon>skip_next</mat-icon> Skip
        </button>
    </div>
</div>