h1{
  width: unset;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
  
      .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 35vh;
        button{
            width: 35vh;
        }
      }
  
      mat-divider {
        height: 400px;
      }
    }

    img{
        width: 35vh;
        border-radius: 15px;
    }
  }