/* Add your styles here */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 25px;
}
.columns {
  display: flex;
  justify-content: space-between;
}

.mat-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card{
  box-shadow: 0 0 0 0 transparent;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
}


.list-wrapper mat-list-item {
  height: 34px;
}

.level{
  display: flex;
  justify-content: space-between;
}
.profile-section{
  width: 25%;
}
.bio{
  width: 80%;
  margin-left: 5%;
}
.editbutton{
  width: 100%;
}

.bio-content {
  height: 160px; /* Adjust height as needed */
  overflow-y: auto;
  display: flex; /* Make the content itself a flex container */
  align-items: center;
  margin-left: 2rem;
}

.usersettings{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  button{
    width: 55%;
  }
}

.profile-picture-container {
  position: relative;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1 / 1;
  
  // Profile picture styles
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; // Ensure the image covers the container without stretching
    border-radius: 50%; // Make the image round
    transition: filter 0.3s ease; // Add transition for smooth effect

    // Hover effect
    &:hover {
      filter: grayscale(100%);
      + .change-icon {
        color: black; // Change color on hover
        opacity: 1; // Make the icon fully visible on hover
      }
    }
  }

  // Change icon styles
  .change-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent; // Hide the text by default
    font-size: 20px; // Adjust the font size as needed
    opacity: 0; // Initially hide the icon
    transition: color 0.3s ease, opacity 0.3s ease; // Add transitions for smooth effect

    // Hover effect for the icon
    .profile-picture-container:hover & {
      filter: grayscale(100%);
      opacity: 1; // Make the icon fully visible on hover
    }
  }
  .image-label {
    cursor: pointer; // Set the cursor to pointer
    display: block;
    width: 100%;
    height: 100%;
  }
}

.memory-card{
  width: 98%;
  height: 95%;
}