<section style="margin-top: 1.5rem;" *ngIf="user">
  <div class="container">
    <div class="columns">
      <div class="image">
        <div class="profile-picture-container">
          <label for="fileInput" class="image-label">
            <img [src]="user.profilepic ? user.profilepic : '../../../assets/img/1.png'" alt="Profile Picture"
              class="profile-picture">

            <mat-icon class="change-icon">add_a_photo</mat-icon>
          </label>
          <input type="file" id="fileInput" accept="image/*" style="display: none;" class="pointer"
            (change)="onFileChange($event)" />
        </div>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-subtitle>
          <span>{{user.username}}</span> - <span>{{user.gender}}</span>
        </mat-card-subtitle>
        <button mat-stroked-button class="editbutton" (click)="openEditDialog()"
          *ngIf="this.userId==this.loggedInUserId">Edit Profile</button>
        <button mat-stroked-button class="editbutton" (click)="openEditDialog()"
          *ngIf="this.userId!=this.loggedInUserId">Friendstatus</button>
        <mat-list class="list-wrapper">
          <mat-list-item>
            <mat-icon matListItemIcon>location_on</mat-icon>
            <div matListItemTitle>{{user.country}}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>calendar_today</mat-icon>
            <div matListItemTitle>{{user.formatted_dob}}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>access_timemat-icon</mat-icon>
            <div matListItemTitle>Timezone</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>public</mat-icon>
            <div matListItemTitle>instagram</div>
          </mat-list-item>
        </mat-list>
        <div class="usersettings">
          <button mat-stroked-button (click)="openPassowrdChangeDialog()">
            Change PW
          </button>
          <app-logout-button></app-logout-button>
        </div>
      </div>
      <div class="bio">
        <mat-card class="card">
          <mat-card-content class="bio-content">
            <pre>{{ user.bio }}</pre>
          </mat-card-content>
        </mat-card>
        <div style="margin-top: 2rem;">
          <div class="level">
            <h3 class="title is-4 level-left">Pinned Memories</h3>
            <button mat-stroked-button>Customize your pins</button>
          </div>
          <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile *ngFor="let memory of memories">
              <mat-card class="memory-card">
                <mat-card-content>
                  <mat-card-title-group>
                    <mat-card-title>Heading Text</mat-card-title>
                    <mat-chip color="primary">Public</mat-chip>
                  </mat-card-title-group>
                  <mat-card-subtitle>This is the description of the memory in a short</mat-card-subtitle>
                  <br>
                  <span class="tag">
                    <mat-icon color="primary">circle</mat-icon>
                    Vacation
                  </span>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="margin-top: 1.5rem;">
  <div class="container">
    <mat-card>
      <div class="level">
        <h3>Earned Badges</h3>
        <button mat-stroked-button>See all</button>
      </div>
    </mat-card>
  </div>
</section>