@use '../../../styles/components/mixins' as mixins;
@use '../../../styles/components/spinner-overlay.scss';
@use '@angular/material' as mat;

.wrapper {
  display: flex;
  min-height: 98vh;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.back-button {
  top: 0;
  left: 0;
  position: absolute;
}

.columns {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;

  @media (max-width: 1480px) {
    display: block;
  }
}

.list-wrapper mat-list-item {
  height: 34px;
}

.small-screen-list {
  @media (max-width: 1480px) {
    width: 85%;
    margin: auto;
    margin-left: 25px
  }
}

.level {
  display: flex;
  justify-content: end;
}

.profile-section {
  width: 25%;

  @media (max-width: 1480px) {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }
}

.bio {
  width: 80%;
  margin-left: 5%;
}

.editbutton {
  width: 100%;
}

.bio-content {
  height: 160px;
  /* Adjust height as needed */
  overflow-y: auto;
  display: flex;
  /* Make the content itself a flex container */
  align-items: center;
  margin-left: 2rem;
}

.usersettings {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  button {
    width: 55%;
  }

  @media (max-width: 1480px) {
    justify-content: center;

    button {
      margin-right: 15px;
    }
  }
}

.profile-picture-container {
  position: relative;
  cursor: pointer;
  width: 100%;

  // Profile picture styles
  .profile-picture {
    @include mixins.profile-pic();
    transition: filter 0.3s ease; // Add transition for smooth effect

    // Hover effect
    &:hover {
      filter: grayscale(100%);

      +.change-icon {
        color: black; // Change color on hover
        opacity: 1; // Make the icon fully visible on hover
      }
    }
  }

  // Change icon styles
  .change-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent; // Hide the text by default
    font-size: 20px; // Adjust the font size as needed
    opacity: 0; // Initially hide the icon
    transition: color 0.3s ease, opacity 0.3s ease; // Add transitions for smooth effect

    // Hover effect for the icon
    .profile-picture-container:hover & {
      filter: grayscale(100%);
      opacity: 1; // Make the icon fully visible on hover
    }
  }

  .image-label {
    cursor: pointer; // Set the cursor to pointer
    display: block;
    width: 100%;
    height: 100%;
  }
}

.memory-card {
  width: 98%;
  height: 95%;
}

mat-tab-group {
  margin-top: 8px;
  @include mat.tabs-overrides((
    label-text-weight: 800,
  ));
}