/* Apply styles to the wrapper to manage layout */
.wrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
  }
  
  /* Style for the sticky sidebar */
  .sticky-sidebar {
    width: 20%; /* 1/4 of the screen */
    position: fixed;
    top: 0; /* Stick to the top */
    bottom: 0;
    height: 100vh; /* Full height of the viewport */
    margin-top: 20px;
    margin-left: 20px;
  }
  
  /* Style for the main content area */
  .main-content {
    flex: 1; /* Take remaining space */
    padding: 20px;
    padding-top: 40px;
    margin-left: 20%;
  }

  .fixed-fab {
    position: fixed; /* Position the button absolutely */
    top: 50px; /* Adjust the bottom distance */
    right: 30px; /* Adjust the right distance */
    z-index: 1; /* Ensure it's above other elements */
  }
  
  .fullcard {
    height: 100%;
    width: 100%;
  }

  mat-paginator {
    margin-top: 15px;
  }

  .image{
    width: 100%;
    border-radius: 20px;
  }
  .image-div{
    width: 45%;
    border-radius: 20px;
  }

  p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50%;
  }
  span{
    color: #FFA500;
  }

  .header{
    display: flex;
    justify-content: space-between;
  }

  .filter{
    width: 150px;
    height: 30px;
    margin-right: 140px;
    margin-top: 10px;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    width: 430px;
    margin-top: 10px;
  }

  .firends-memory-checkbox{
    margin-left: 50px;
  }

  .selector{
    margin-right: 30%;
  }