<div class="wrapper">
    <div class="sticky-sidebar">
        <app-user-information></app-user-information>
        <ng-container *ngIf="this.userdb && this.userdb.user_id">
            <app-stats [userid]="this.userdb.user_id"></app-stats>
        </ng-container>    
    </div>
    <div class="main-content">
        <h1>YOUR MEMORIES</h1>
        <div *ngIf="pagedData && pagedData.length > 0; else noMemorise">
            <mat-grid-list cols="3" rowHeight="1:1" gutterSize="5">
                <mat-grid-tile *ngFor="let item of pagedData">
                    <app-memory-card [cardData]="item" class="test" (click)="openDetaildMemorie(item.memory_id)"></app-memory-card>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-paginator [length]="data.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                (page)="onPageChange($event)"></mat-paginator>
        </div>    
        <button mat-raised-button color="accent" class="fixed-fab" (click)="addMemory()">
            <mat-icon class="add-icon">add</mat-icon>
            Create New
        </button>
    </div>
</div>

<ng-template #noMemorise>
    <div class="main-content">
        <div class="image-div">
            <img src="/assets/img/no_memories.jpg" class="image">
            <p>You have not created any <span>MEMORIES</span> yet. Create one now and start <span>MEMORISEING</span>!</p>
        </div>
    </div>
</ng-template>