@use '@angular/material' as mat;
@import '../../../styles.scss';
@import '../../../styles/components/page.scss';


  .fixed-fab {
    position: fixed; /* Position the button absolutely */
    top: 50px; /* Adjust the bottom distance */
    right: 30px; /* Adjust the right distance */
    z-index: 1; /* Ensure it's above other elements */
  }
  
  .fullcard {
    height: 100%;
    width: 100%;
  }

  mat-paginator {
    margin-top: 15px;
  }

  .image{
    width: 100%;
    border-radius: 20px;
  }
  .image-div{
    width: 45%;
    border-radius: 20px;
  }

  p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50%;
  }
  span{
    color: mat.get-theme-color($memorise-ns-theme, accent, 500);
  }

  .filter{
    width: 150px;
    height: 30px;
    margin-right: 140px;
    margin-top: 10px;
  }

  .firends-memory-checkbox{
    margin-left: 50px;
  }

  .selector{
    margin-right: 30%;
  }