<div class="wrapper">
    <div class="sticky-sidebar">
        <ng-container *ngIf="userdb && userdb.user_id">
            <app-stats [userid]="userdb.user_id"></app-stats>
        </ng-container>
    </div>
    <div class="main-content">
        <div class="header">
            <div class="header-group">
                <h1>YOUR MEMORIES</h1>
                <app-view-selector (selectionChanged)="changeView($event)"></app-view-selector>
            </div>
            <div class="header-group">
                <section [formGroup]="filterForm">
                    <mat-checkbox formControlName="showFilter" aria-label="Toggle filter visibility">Show Filter</mat-checkbox>
                </section>
                <button mat-raised-button color="accent" (click)="addMemory()" aria-label="Add a new memory">
                    <mat-icon class="add-icon">add</mat-icon>
                    Create New
                </button>
            </div>
        </div>

        <section [formGroup]="openForm" *ngIf="filterForm.get('showFilter')!.value">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput formControlName="search" (input)="filterItems()" aria-label="Search memories">
            </mat-form-field>
            <mat-checkbox formControlName="showFriendsMemories" (change)="showAll($event.checked)" aria-label="Show friends' memories">
                Show Friends Memories
            </mat-checkbox>
        </section>

        <div *ngIf="pagedData && pagedData.length > 0; else noMemorise">
            <div *ngIf="selectedValue === 'map'">
                <app-home-map-view [memories]="displayMemories"></app-home-map-view>
            </div>

            <div *ngIf="selectedValue === 'standard'">
                <mat-grid-list [cols]="3" rowHeight="1:1" gutterSize="5">
                    <mat-grid-tile *ngFor="let item of pagedData">
                        <app-memory-card [cardData]="item" class="fullcard" (click)="openDetailedMemory(item.memory_id)">
                        </app-memory-card>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-paginator [length]="displayMemories.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                    (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template #noMemorise>
    <div class="main-content">
        <div class="image-div">
            <img src="/assets/img/no_memories.jpg" class="image" alt="No memories found">
            <p>You have not created any <span>MEMORIES</span> yet. Create one now and start <span>MEMORISING</span>!
            </p>
        </div>
    </div>
</ng-template>
