@use '../userprofile/userprofile.component.scss';
@use '@angular/material' as mat;


.profile-picture-container {
    cursor: auto;
    .profile-picture {
        &:hover {
            filter: none;
        }
    }

  .badge {
    position: absolute;
    bottom: 0;
    right: 0;

    text-transform: uppercase;
  }
}