@import '../../../../styles/components/layouts.scss';

h2{
    margin: 0;
}

.stretch{
    width: 70%;
    display: flex;
    align-content: center;
    flex-direction: row;
}

mat-divider{
    margin: 3px;
}