<h1 mat-dialog-title>Edit Pinned Memories</h1>

<mat-dialog-content>
  <p>Select up to {{ maxSelectableCount }} of your favorite memories</p>

  <!-- Favorite Memories Section -->
  <h2>Favorite Memories</h2>
  @if (favoriteMemories.length > 0) {
    <mat-list>
      @for (memory of favoriteMemories; track memory) {
        <mat-list-item>
          <mat-checkbox
            [(ngModel)]="memory.isFavorite"
            (change)="updateSelection(memory, memory.isFavorite)">
            {{ memory.name }}
          </mat-checkbox>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <p>No favorite memories selected.</p>
  }

  <mat-divider></mat-divider>

  <!-- All Memories Section -->
  <div class="flex-space-between">
    <h2>All Memories</h2>
    <mat-form-field appearance="outline" class="stretch">
      <input
        matInput
        [(ngModel)]="searchText"
        (keyup)="updateSearch(searchText)"
        placeholder="Search memories...">
      </mat-form-field>
    </div>

    @if (allMemories.length > 0) {
      <mat-list>
        @for (memory of filteredMemories; track memory) {
          <mat-list-item>
            <mat-checkbox
              [(ngModel)]="memory.isFavorite"
              [disabled]="selectedCount >= maxSelectableCount && !memory.isFavorite"
              (change)="updateSelection(memory, memory.isFavorite)">
              {{ memory.name }}
            </mat-checkbox>
          </mat-list-item>
        }
      </mat-list>
    } @else {
      @if (searchText === '') {
        <p>No memories found.</p>
      }
      @if (searchText !== '') {
        <p>No memories match your search.</p>
      }
    }

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button [disabled]="!hasChangesFlag" (click)="onSave()">Save</button>
  </mat-dialog-actions>
