  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }
  }

  .profile-row {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .enabled {
    opacity: 0.6;
    cursor: pointer;
  }

  .profile-button {
    all: unset;
  }

  .logout-icon{
    color: var(--mat-sys-primary);
  }