  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
    }
    button {
      height: 45px;
    }
  }

  .profile-row{
    display: flex;
    align-items: center;
  }

  .enabled {
    opacity: 0.6;
    cursor: pointer;
  }
