.dialog-content {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
  }
  /* Style for the close button in the header */
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  
  /* Make the dialog slimmer */
  .mat-dialog-container {
    max-width: 700px; /* Set the max width of the dialog */
    width: 100%;      /* Make it responsive */
  }
  .custom-pre {
    white-space: pre-wrap; /* Beibehaltung von Leerzeichen und Zeilenumbrüchen */
    font-family: monospace; /* Typische Schriftart eines <pre>-Tags */
    background-color: inherit; /* Falls <pre> eine spezielle Hintergrundfarbe hat */
    margin: 0; /* Standard <pre>-Tag Margin entfernen */
    padding: 10px;
  }