.card {
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--mat-sys-surface);
    border: 2px solid var(--mat-sys-primary);
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.additional-images {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-sys-surface);
  font-weight: bold;
  color: var(--mat-sys-on-surface);
  padding: 10px;
}