@use 'components/memory-card-empty' as card-mixin;
@use 'components/mixins' as mixins;
@use '@angular/material' as mat;


.bd-home-section {
  @include mixins.background-gradient;

  @media (max-width: 1874px) {
    --spacing: 1rem;
  }
}

.small-screen {
  display: none;

  @media (max-width: 1614px) {
    display: block;
  }
}

.big-screen {
  display: block;

  @media (max-width: 1614px) {
    display: none;
  }
}

.button-text {
  @media (max-width: 1000px) {
    display: none;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

mat-calendar {
  width: 85%;
}

.full-width {
  @include mixins.full-size();
}

h1,
h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--mat-sys-primary);
}

h1 {
  font-size: 35px;
}

.profile-row {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-image {
  @include mixins.profile-pic();
  width: 50px;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.image-size {
  @include mixins.full-size();
  object-fit: cover;
}

.desc {
  margin-top: 5px;

  .truncated-description {
    font-family: monospace;
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-wrap;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-clamp: 6;
    font-size: large;
    margin-bottom: 0.5rem;
    line-height: 1.13rem;
  }
}

.memory-card {
  @include card-mixin.memory-card(50px, 100%);
}

.back-button {
  top: 0;
  left: 0;
  position: absolute;
}

.show-all-btn {
  background-color: var(--mat-sys-background);
}

.activity-card {
  box-shadow: 0 0 10px var(--mat-sys-secondary);
  max-width: 30%;
  @include mat.card-overrides((outlined-container-color: var(--mat-sys-on-secondary),
      outlined-outline-color: var(--mat-sys-secondary)));
  margin: 0 0 32px 16px;

}

.activity-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.card-content {
  display: flex;
  align-items: center;
  padding: 16px !important;
  gap: 16px;
}

.notification-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
  color: var(--mat-sys-primary);
}

.card-title,
.card-subtitle {
  margin: 0;
}

.card-title {
  color: var(--mat-sys-primary);
}