@use '../../../styles/components/memory-card-empty' as card-mixin;
@use '../../../styles/components/mixins' as mixins;

.bd-home-section {
  @include mixins.background-gradient;
  @media (max-width: 1874px) {
    --spacing: 1rem;
  }
}

.small-screen{
  display: none;
  @media (max-width: 1614px) {
    display: block;
  }
}

.big-screen{
  display: block;
  @media (max-width: 1614px) {
    display: none;
  }
}

.button-text {
  @media (max-width: 1000px) {
    display: none;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

mat-calendar {
  width: 85%;
}

.full-width {
  @include mixins.full-size();
}

h1, h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--mat-sys-primary);
}

h1{
  font-size: 35px;
}

.profile-row {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-image {
  @include mixins.profile-pic();
  width: 50px;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.image-size {
  @include mixins.full-size();
  object-fit: cover;
}

.more {
  font-size: large;
  margin-left: 3rem;
}

.desc {
  margin-top: 5px;
  .custom-pre {
    font-family: monospace;
    font-size: large;
    margin-bottom: 0.5rem;
    white-space: pre-wrap;
    line-height: 1.13rem;
  }
}

.memory-card {
  @include card-mixin.memory-card(50px, 100%);
}

.back-button {
  top: 0;
  left: 0;
  position: absolute;
}

.show-all-btn{
  background-color: var(--mat-sys-background);
}