<section class="bd-home-section bd-theme-memorise">
  <div class="container">
    <mat-toolbar>
      <h1>{{memorydb.title}}</h1>
      <span class="example-spacer"></span>
      <button mat-stroked-button color="primary">
        <mat-icon>send</mat-icon>
        Share
      </button>
      <button mat-stroked-button color="primary">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
    </mat-toolbar>
    <mat-card appearance="outlined" style="overflow: hidden;">
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="8px">
        <mat-grid-tile colspan="2" rowspan="2">
          <img [src]="images[0]">
        </mat-grid-tile>
        <mat-grid-tile><img class="background-image" [src]="images[1]"></mat-grid-tile>
        <mat-grid-tile><img class="background-image" [src]="images[2]"></mat-grid-tile>
        <mat-grid-tile><img class="background-image" [src]="images[3]"></mat-grid-tile>
        <mat-grid-tile><img class="background-image" [src]="images[4]"></mat-grid-tile>
        <div style="position: absolute; bottom: 24px; right: 24px;">
          <button mat-stroked-button color="primary" style="border-radius: 7px; background-color: white;">
            <mat-icon>apps</mat-icon>
            Show all pictures
          </button>
        </div>
      </mat-grid-list>
    </mat-card>
    <br><br>
    <div style="overflow: hidden;">
      <mat-grid-list cols="4" rowHeight="1:1" gutterSize="8px">
        <mat-grid-tile colspan="3">
          <div class="full-width">
            <h1>Activity in City, Country</h1>
            <span>{{selectedDate.getDate()}}-{{selectedDate.getMonth()}}-{{selectedDate.getFullYear()}},
              {{memorydbFriends.length + 1}} people</span>
            <mat-divider></mat-divider>
            <div class="profile-row">
              <img src="/assets/img/1.png" class="profile-image">
              <div class="text">
                <b>{{ memorydbFriends[0].name || 'name' }}</b><br>
                <span class="desc">{{ memorydbFriends[0].dob || 'dob' }}, {{ memorydbFriends[0].gender || 'gender' }}</span>
              </div>
            </div>
          </div>

        </mat-grid-tile>
        <mat-grid-tile>
          <mat-calendar [selected]="dateRange" [startAt]="selectedDate"></mat-calendar>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</section>