<mat-card class="user-card" *ngIf="userdb">
  <div class="profile-picture-container">
    <img src="{{this.userdb.profilepic}}" alt="Profile Picture" class="profile-picture">
  </div>
  <div class="user-details">
    <mat-card-title>{{userdb.name}}</mat-card-title>
    <mat-card-subtitle>
      <span>{{userdb.username}}</span> - <span>{{userdb.gender}}</span>
    </mat-card-subtitle>
    <button mat-stroked-button class="editbutton" (click)="navigateToUserProfile()">View Profile</button>
    <mat-list class="list-wrapper">
      <mat-list-item>
        <mat-icon matListItemIcon>location_on</mat-icon>
        <div matListItemTitle>{{userdb.country}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>calendar_today</mat-icon>
        <div matListItemTitle>{{userdb.formatted_dob}}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>access_timemat-icon</mat-icon>
        <div matListItemTitle>Timezone</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>public</mat-icon>
        <div matListItemTitle>instagram</div>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>