<mat-card class="user-card" *ngIf="userdb">
  <h2>User Information</h2>
  <!-- Profile Picture -->
  <div class="profile-picture">
    <img src="https://i0.gmx.at/image/046/37240046,pd=1,f=sdata43/keanu-reeves.jpg">
  </div>
  
   <!-- User Information -->
  <div class="user-details">
    <h3>Name: {{ userdb.name || 'Not provided' }}</h3>
    <p>DOB: {{ userdb.formatted_dob || 'Not provided' }}</p>
    <p>Gender: {{ userdb.gender || 'Not provided' }}</p>
    <p>Country: {{ userdb.location || 'Not provided' }}</p>

    <button *ngIf="showEditForm" mat-raised-button color="primary" (click)="openEditDialog()">
      Edit Information
    </button>
    <button mat-raised-button color="primary" (click)="openPassowrdChangeDialog()">
      Change Password
    </button>
  </div>
</mat-card>
  