@use '../../../styles/components/mixins' as mixins;
@use '@angular/material' as mat;

.user-card {
  display: flex;
  align-items: center;
  width: 100%;
}

.profile-picture-container {
  position: relative;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  aspect-ratio: 1 / 1;

  .profile-picture {
    @include mixins.profile-pic
  }

  .badge-pro {
    @include mat.chips-overrides((
      label-text-color: var(--mat-sys-secondary),
      outline-color: var(--mat-sys-secondary),
    ));

    background-color: var(--mat-sys-secondary-container);

    position: absolute;
    bottom: 0;
    right: 0;

    text-transform: uppercase;
  }
}

.list-wrapper mat-list-item {
  height: 34px;
}

.editbutton {
  width: 100%;
  margin-top: 3px;
}

.user-details {
  width: 90%;
}

.no-connection {
  height: 40vh;
  align-items: center;
  justify-content: center;
  font-style: italic;
}