mat-card-content {
    width: 70%;
}

mat-card {
    align-items: center;
}

.scrollable-content {
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.list-item{
    min-height: 80px;
    height: auto;
}