mat-card-content {
    width: 70%;
}

mat-card {
    align-items: center;
}

.scrollable-content {
    max-height: 50vh; /* Set the maximum height to 50% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}

.list-item{
    height: 80px;
}