<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title() }}</mat-card-title>
  </mat-card-header>
  @if (friends().length > 0) {
  <mat-card-content class="scrollable-content">
    <mat-list>
      @for (friend of friends(); track $index; let last = $last) {
      <mat-list-item class="list-item">
        <app-friend-preview [friend]="friend" [requestedInput]="requested()" [buttonText]="buttonText()"
          [requestedText]="requestedText()" [buttonIcon]="buttonIcon()" [declineButton]="declineButton()"
          (friendRequestProcessed)="onFriendRequestProcessed($event)">
        </app-friend-preview>
      </mat-list-item>
      @if (!last){
      <mat-divider></mat-divider>
      }
      }
    </mat-list>
  </mat-card-content>
  }
  @else {
  <p>You do not have added any Friends yet :(</p>
  }
</mat-card>