<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="friends.length > 0; else noFriends" class="scrollable-content">
    <mat-list>
      <ng-container *ngFor="let friend of friends; let last = last">
        <mat-list-item class="list-item">
          <app-friend-preview [friend]="friend" [requested]="requested" [buttonText]="buttonText"
            [requestedText]="requestedText" [buttonColor]="buttonColor" [buttonIcon]="buttonIcon">
          </app-friend-preview>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>

  <ng-template #noFriends>
    @if (title === 'Your Friends') {
      <p>You do not have added any Friends yet :(</p>
    }
    @else{
      <p>You have no {{ title }} :)</p>
    }
    
  </ng-template>
</mat-card>