<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="logo-container">
      <img [src]="themeService.isDarkMode() ? '/assets/img/logo_big_dark.png' : '/assets/img/logo.png'" alt="Logo">
    </mat-toolbar>
    <mat-nav-list class="mat-nav-list">
      <a mat-list-item href="/home">
        <mat-icon>home</mat-icon>
        <span class="text">MEMORISE</span>
      </a>
      <a mat-list-item href="/friends">
        <mat-icon>people</mat-icon>
        <span class="text">FRIENDS</span>
      </a>
      <!--<a mat-list-item href="/activities">
        <mat-icon>event</mat-icon>
        <span class="text">ACTIVITIES</span>
      </a>-->
    </mat-nav-list>
    <div class="nav-actions">
      <app-feedback-button></app-feedback-button>
      <app-theme-switcher></app-theme-switcher>
      <app-subscription-status></app-subscription-status>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>