.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1;
}


.mat-nav-list {
  mat-icon {
    margin-right: 8px;
  }

  a {
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
}

.text {
  font-weight: bold;
  position: absolute;
  margin-top: 3px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%; // Ensure the image is responsive
  max-height: 100%; // Ensure the image is responsive
}

mat-icon {
  color: var(--mat-sys-secondary);
}