/*

Color Palett:

Deep Blue: #004080
Vibrant Orange: #FFA500
Forest Green: #228B22
Golden Yellow: #FFD700
Coral Pink: #FF6F61
Sky Blue: #87CEEB
Sunset Purple: #800080

*/

@use '@angular/material' as mat;
@use "styles/themes/light.scss" as light;

@use "styles/typo/config" as config;

@use 'sass:map';

@include mat.elevation-classes();
@include mat.app-background();




$memorise-ns-primary: mat.m2-define-palette(light.$deep-blue-palette);
$memorise-ns-accent: mat.m2-define-palette(light.$vibrant-orange-palette);

// The warn palette is optional (defaults to red).
$memorise-ns-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$memorise-ns-theme: mat.m2-define-light-theme((color: (primary: $memorise-ns-primary,
        accent: $memorise-ns-accent,
        warn: $memorise-ns-warn,
      ),
      //typography: config.$my-app-typography
    ));



@include mat.all-component-themes($memorise-ns-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  color: map-get(light.$deep-blue-palette, 500);
  font-size: 50px;
  font-weight: bold;
  width: 430px;
  margin-top: 10px;
}