/*

Color Palett:

Deep Blue: #004080
Vibrant Orange: #FFA500
Forest Green: #228B22
Golden Yellow: #FFD700
Coral Pink: #FF6F61
Sky Blue: #87CEEB
Sunset Purple: #800080

*/

@use '@angular/material' as mat;
@use 'styles/themes/styles_theme-colors.scss' as theme;

@include mat.elevation-classes();
@include mat.app-background();

html {
  color-scheme: light dark;

  @include mat.theme((color: (primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      typography: Roboto,
    ));
}

:root,
:host {
  &[data-theme='dark'] {
    color-scheme: dark;
    @include mat.theme-overrides((
        background: #0a0a0a,
      ));
  }

  &[data-theme='light'] {
    color-scheme: light;
    @include mat.theme-overrides((
        background: #ffffff,
      ));
  }

    &[data-theme='system'] {
    // Default to light
    color-scheme: light;
    @include mat.theme-overrides((
        background: #ffffff,
      ));
    
    // Override for dark mode
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
      @include mat.theme-overrides((
          background: #0a0a0a,
        ));
    }
  }


  @include mat.snack-bar-overrides((container-shape: 24px,));
}



html,
body {
  font-family: Roboto;
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: Roboto;
  color: var(--mat-sys-primary);
  font-size: 50px;
  font-weight: bold;
  width: 430px;
}

mat-card {
  overflow: hidden;
}