/*

Color Palett:

Deep Blue: #004080
Vibrant Orange: #FFA500
Forest Green: #228B22
Golden Yellow: #FFD700
Coral Pink: #FF6F61
Sky Blue: #87CEEB
Sunset Purple: #800080

*/

@use '@angular/material' as mat;
@use 'styles/themes/styles_theme-colors.scss' as theme;

@include mat.core();



html {
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
      theme-type: light,
    ),
    typography: Roboto,
  ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: Roboto;
  color: var(--mat-sys-primary);
  font-size: 50px;
  font-weight: bold;
  width: 430px;
  margin-top: 10px;
}