<div class="form">
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <mat-dialog-content class="dialog-content">
      <mat-form-field appearance="outline">
        <input matInput formControlName="currentPassword" type="password" placeholder="Current Password">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <input matInput formControlName="newPassword" type="password" placeholder="New Password">
      </mat-form-field>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button cdkFocusInitial type="submit">Change Password</button>
    </mat-dialog-actions>
  </form>
</div>
