.full-width {
  width: 100%;
}

mat-dialog-content{
  min-height: 190px;
}

.error-message {
  display: flex;
  align-items: center;
  margin: 16px 0;
  padding: 8px 16px;
  background-color: rgba(244, 67, 54, 0.1);
  border-radius: 4px;

  mat-icon {
    margin-right: 8px;
    color: var(--mat-sys-error);
  }
}

.password-strength-container {
  margin: 16px 0;

  h4 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .strength-indicators {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;

    .strength-item {
      display: flex;
      align-items: center;
      font-size: 14px;

      mat-icon {
        margin-right: 4px;
        font-size: 16px;
        height: 16px;
        width: 16px;
        color: var(--mat-sys-error);
      }

      &.met {
        mat-icon {
          color: var(--mat-sys-tertiary);
        }
      }
    }
  }
}

button {
  position: relative;
  &:disabled span {
    opacity: 0.7;
  }
}