<div class="search-container">
    <mat-form-field appearance="outline">
      <mat-label>Search Friends</mat-label>
      <input matInput [(ngModel)]="searchTerm" type="text" placeholder="Enter friend name" (keyup.enter)="searchFriend()">
    </mat-form-field>
    <button mat-icon-button (click)="searchFriend()">
      <mat-icon>search</mat-icon>
    </button>
</div>
<div class="search-results" *ngIf="searchResults.length > 0">
  <h2>Search Results</h2>
  <mat-list>
    <ng-container *ngFor="let friend of searchResults.slice(0, 5); let last = last">
      <app-friend-preview [friend]="friend" [buttonText]="'Request'" [requestedText]="'Requested'" [buttonColor]="'primary'" [buttonIcon]="'person_add'"></app-friend-preview>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-list>
</div>
  