.search-container{
    display: flex;
    align-items: center;
}

.search-results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field{
    width: 90%;
    margin-top: 20px;
}

mat-card-content{
    width: 70%;
}

mat-card {
    align-items: center;
}

.list-item{
    height: 80px;
}