.search-container {
    display: flex;
    align-items: center;
}

.mdc-list-item.mdc-list-item--with-one-line {
    height:var(--mdc-list-list-item-one-line-container-height, 80px);
}

mat-form-field {
    width: 90%;
    margin-top: 20px;
}

mat-card-content {
    width: 70%;
}

mat-card {
    align-items: center;
}